<%- include('parts/top.ejs') %>

<!-- Page Content -->
<div class="page-heading about-heading header-text bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4 class="text-uppercase">About Us</h4>
          <h2 class="font-weight-bold">Our Company</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="best-features about-features py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center mb-4">
          <h2>Our Background</h2>
        </div>
      </div>
      <div class="col-md-6">
        <img src="images/feature-image.jpg" alt="" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Who We Are &amp; What We Do</h4>
          <p>
            We are a team of dedicated professionals passionate about delivering high-quality products and services. Our expertise lies in understanding our clients' needs and transforming them into innovative solutions.
          </p>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="team-members py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center mb-4">
          <h2>Meet Our Team</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member text-center">
          <div class="thumb-container">
            <img src="images/team_01.jpg" alt="" class="img-fluid rounded-circle">
            <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="down-content">
            <h4>Johnny William</h4>
            <span>Co-Founder</span>
            <p>With over a decade of experience, Johnny drives our mission to deliver excellence.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member text-center">
          <div class="thumb-container">
            <img src="images/team_02.jpg" alt="" class="img-fluid rounded-circle">
            <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="down-content">
            <h4>Karry Pitcher</h4>
            <span>Product Expert</span>
            <p>Karry specializes in transforming ideas into actionable product strategies.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member text-center">
          <div class="thumb-container">
            <img src="images/team_03.jpg" alt="" class="img-fluid rounded-circle">
            <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="down-content">
            <h4>Michael Soft</h4>
            <span>Chief Marketing Officer</span>
            <p>Michael leads our marketing team with innovative strategies and campaigns.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member text-center">
          <div class="thumb-container">
            <img src="images/team_04.jpg" alt="" class="img-fluid rounded-circle">
            <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="down-content">
            <h4>Mary Cool</h4>
            <span>Product Specialist</span>
            <p>Mary ensures that our products meet the highest quality standards.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member text-center">
          <div class="thumb-container">
            <img src="images/team_05.jpg" alt="" class="img-fluid rounded-circle">
            <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="down-content">
            <h4>George Walker</h4>
            <span>Product Photographer</span>
            <p>George captures our products in the best light with stunning photography.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member text-center">
          <div class="thumb-container">
            <img src="images/team_06.jpg" alt="" class="img-fluid rounded-circle">
            <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="down-content">
            <h4>Kate Town</h4>
            <span>General Manager</span>
            <p>Kate oversees all operations, ensuring we deliver exceptional service.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="service-item text-center">
          <div class="icon">
            <i class="fa fa-cogs fa-2x"></i>
          </div>
          <div class="down-content">
            <h4>Product Management</h4>
            <p>Efficiently manage the lifecycle of your products from inception to delivery.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item text-center">
          <div class="icon">
            <i class="fa fa-pencil-square fa-2x"></i>
          </div>
          <div class="down-content">
            <h4>Branding &amp; Strategy</h4>
            <p>We help build brands that resonate with your target audience.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item text-center">
          <div class="icon">
            <i class="fa fa-bar-chart fa-2x"></i>
          </div>
          <div class="down-content">
            <h4>Market Analysis</h4>
            <p>Thorough analysis to help you understand your market and competitors.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('parts/bottom.ejs') %>
